@font-face {
    font-family: "Dosis";
    src: url("/themes/cheryllium/fonts/Dosis-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: "Dosis";
    src: url("/themes/cheryllium/fonts/Dosis-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

:root {
    --main-accent-color: #ffd102;
}

* {
    box-sizing: border-box;
}
html, body {
    width: 100%; 
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Dosis", sans-serif;
    background-color: #fff;
}
a {
    color: inherit;
    text-decoration: none; 
}
pre {
    white-space: pre-wrap; 
}

/* Sidebar */
sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;

    border-right: 1px solid #ccc;
    width: 20%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
sidebar > #title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; 

    background-color: #3f3f3f;
    text-align: center;
    
    padding: 10px; 
    border-bottom: 7px solid var(--main-accent-color); 
}
sidebar > #title h1 {
    color: #fff;
    font-size: 1.8em;
    text-transform: lowercase;
    font-weight: 400; 
}
sidebar > #title .logo {
    width: 30%;
    
    -webkit-transition: width 0.2s, opacity 0.2s; 
    -moz-transition: width 0.2s, opacity 0.2s; 
    -o-transition: width 0.2s, opacity 0.2s; 
    transition: width 0.2s, opacity 0.2s; 
}
sidebar > #title .logo:hover {
    cursor: pointer;
    width: 34%;

    -webkit-transition: width 0.2s, opacity 0.2s; 
    -moz-transition: width 0.2s, opacity 0.2s; 
    -o-transition: width 0.2s, opacity 0.2s; 
    transition: width 0.2s, opacity 0.2s; 
}
sidebar > #links > a {
    display: block; 
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase; 
    font-size: 1.2em;
    color: #3f3f3f; 
}
sidebar > #links > a:first-child {
    border-top: 1px solid #ccc; 
}
sidebar > #links > a:hover {
    background-color: #efefef;
    
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    transition: background-color 0.4s; 
}

/* Main content container */
#content {
    position: relative; 
    min-height: 100%;
    margin-left: 20%;
    padding: 15px;
    padding-top: 50px; 
    padding-bottom: 80px;
    color: #3f3f3f; 
}
#content > article {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px; 
    max-width: 860px; 
}
#content > article h1 {
    font-size: 2em;
    padding: 8px;
    border-top: 5px solid var(--main-accent-color);
    background-color: #efefef;
}
#content > article .post-content {
    font-size: 1.1em; 
}
#content > article .post-content a {
    text-decoration: underline;
    font-weight: bold;
    color: #937e1c; 
}
#content > article .post-content a:hover {
    font-weight: bold;
    color: #666; 
}

/* Site footer */
footer {
    position: absolute;
    bottom: 0;
    left: 0; 
    width: 100%;

    padding: 5px;
    font-size: 1.0em;
    text-align: right; 
    
    color: #fff;
    background-color: #3f3f3f; 
}

/* Pagination */
.pagination {
    text-align: center;
    margin-top: 100px; 
}

/* Responsive styles */
@media only screen and (max-width: 1100px) {
    sidebar {
        position: static;
        height: unset;
        width: 100%;
        flex-flow: row;
        justify-content: flex-start;
        border-bottom: 7px solid var(--main-accent-color); 
    }
    sidebar > #title .logo {
        width: 40px; 
    }
    sidebar > #title .logo:hover {
        width: 40px; 

        -webkit-transition: none; 
        -moz-transition: none; 
        -o-transition: none; 
        transition: none; 
    }
    sidebar > #title {
        position: static;
        width: unset;
        border: 0;
        display: flex;
        align-items: center; 
    }
    sidebar > #title h1 {
        font-size: 1.3em;
        margin-left: 10px;
        margin-right: 10px; 
    }
    sidebar > #links > a:first-child {
        border: 0; 
    }
    sidebar > #links > a {
        border: 0;
        font-size: 1.1em;
        margin-left: 6px;
    }
    sidebar > #links > a:hover {
        background-color: inherit;
        border-top: 2px solid var(--main-accent-color);
        border-bottom: 2px solid var(--main-accent-color);
    }
    sidebar > #links {
        display: flex;
        align-items: center; 
    }
    #content {
        margin-left: 0;
        padding-top: 15px; 
    }
    
}
